# Token shared between `blob-api` and portal (run for example
# `openssl rand -hex 32`).
BLOB_API_TOKEN=replace-with-long-random-token
# Path to (actors) database.
PDS_DB_PATH=/pds/data/pds.sqlite
# Where to run.
PORT=4001
