# Node
TZ=UTC
PORT=4075
HOST=0.0.0.0
NODE_ENV=production

# App
LOG_LEVEL=info
APP_URL=http://localhost:4075
# You can generate an APP_KEY with: node ace generate:key or `openssl rand -hex 32`
APP_KEY=

DATABASE_AUTOMIGRATE=true
DATABASE_PATH=/app/database/db.sqlite3

# Session
SESSION_DRIVER=cookie
