# Node
TZ=UTC
PORT=4075
HOST=127.0.0.1
NODE_ENV=development
APP_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie
PUBLIC_URL=http://$HOST:$PORT/

OAUTH_SERVICE=https://pds.rip/
MIGRATION_SERVICE=https://move.eurosky.tech/
ALLOW_EXTERNAL_LOGINS=true
ATPROTO_HANDLE_DOMAIN=bsky.social

# Development key for Monocle.sh
MONOCLE_API_KEY=
